<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Simulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Simulator.Properties.Settings>
      <setting name="ip" serializeAs="String">
        <value>https://192.168.1.2</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>8080</value>
      </setting>
      <setting name="operatorValue" serializeAs="String">
        <value>01</value>
      </setting>
      <setting name="industryCode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="siteID" serializeAs="String">
        <value>SHELL|FSDH</value>
      </setting>
      <setting name="wsNo" serializeAs="String">
        <value>MarkusESTLAB.596807909</value>
      </setting>
      <setting name="proxyInfo" serializeAs="String">
        <value>OPIV6.2</value>
      </setting>
      <setting name="posInfo" serializeAs="String">
        <value>Opera</value>
      </setting>
      <setting name="lodgingCode" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="guestNo" serializeAs="String">
        <value>62524</value>
      </setting>
      <setting name="sequenceNumber" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="currCodes" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultAmount" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="filePath" serializeAs="String">
        <value />
      </setting>
      <setting name="logingEnable" serializeAs="String">
        <value>False</value>
      </setting>
    </Simulator.Properties.Settings>
  </userSettings>
</configuration>